GODEST_DATABASE_DRIVER=postgres
GODEST_DATABASE_HOST=127.0.0.1
GODEST_DATABASE_PORT=5432
GODEST_DATABASE_USERNAME=postgres
GODEST_DATABASE_PASSWORD=
GODEST_DATABASE_DATABASE=godest
GODEST_DATABASE_SSLMODE=disable

GODEST_REDIS_ADDR=127.0.0.1:6379
GODEST_REDIS_PASSWORD=
GODEST_REDIS_DB=0

GODEST_JWT_SECRET=change-me
GODEST_JWT_EXPIRE=24
